[Unit]
Description=Timer to trigger backup service daily

[Timer]
# Backup once a day at 3am
OnCalendar=*-*-* 03:00:00
Persistent=false

[Install]
WantedBy=timers.target

