[Unit]
Description=Periodic Sync docs between all geraldpi-document instances

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
RandomizedDelaySec=30sec
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target

