[Unit]
Description=Sync files between all similar instances on the network
#After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sync_all
Environment="HOME=/home/root"

