[Unit]
Description=Host Rename Service
#After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/hostrename

[Install]
WantedBy=multi-user.target

