[Unit]
Description=Temp Scanner Service
After=dbus-org.bluez.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 30
ExecStart=/opt/thermostat/scan.py
Restart=Always

[Install]
WantedBy=multi-user.target

