[Unit]
Description=Aircast Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/aircast -d all=warn
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

